APP_KEY=
APP_MAINTENANCE_DRIVER="file"
BCRYPT_ROUNDS="4"
BROADCAST_CONNECTION="null"
CACHE_STORE="array"
MAIL_MAILER="array"
QUEUE_CONNECTION="sync"
SESSION_DRIVER="array"
PULSE_ENABLED="false"
TELESCOPE_ENABLED="false"
NIGHTWATCH_ENABLED="false"
DB_CONNECTION=mysql
DB_HOST=db_mysql
DB_PORT=3306
DB_DATABASE=biblioteca_teste
DB_USERNAME=USUARIO
DB_PASSWORD=SENHA